# Project exclude paths
/node_modules/
/.idea/.gitignore
/.idea/day1.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/.nuxt/components/index.js
/.nuxt/components/nuxt.js
/.nuxt/components/nuxt-build-indicator.vue
/.nuxt/components/nuxt-child.js
/.nuxt/components/nuxt-error.vue
/.nuxt/components/nuxt-link.client.js
/.nuxt/components/nuxt-link.server.js
/.nuxt/components/nuxt-loading.vue
/.nuxt/components/plugin.js
/.nuxt/components/readme.md
/.nuxt/components/utils.js
/.nuxt/layouts/default.vue
/.nuxt/mixins/fetch.client.js
/.nuxt/mixins/fetch.server.js
/.nuxt/vetur/tags.json
/.nuxt/views/app.template.html
/.nuxt/views/error.html
/.nuxt/App.js
/.nuxt/client.js
/.nuxt/empty.js
/.nuxt/index.js
/.nuxt/jsonp.js
/.nuxt/loading.html
/.nuxt/middleware.js
/.nuxt/router.js
/.nuxt/router.scrollBehavior.js
/.nuxt/routes.json
/.nuxt/server.js
/.nuxt/utils.js
/data/home.json
/.idea/
